[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.2.2,<3.0.0"
flask = ">=3.0.3"
werkzeug = ">=3.0.3"
internetarchive = ">=4.1.0"
tinydb = ">=4.8.0"
flask-login = ">=0.6.3"
gunicorn = ">=22.0.0"
markdown = ">=3.6"
feedgenerator = ">=2.1.0"
odswriter = ">=0.4.0"
odfpy = ">=1.4.1"
pyyaml = ">=6.0.1"

[dev-packages]

[requires]
python_version = "3.11"
