[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# you can update to flask 3 when flask-login releases a new version (>0.6.2)
# for now, pinning flask and werkzeug to <3
flask = "<3.0"
werkzeug = "<3.0"
internetarchive = "*"
tinydb = "*"
flask-login = "*"
flask-assets = "*"
gunicorn = "*"
markdown = "*"
feedgenerator = "*"
pandas = "*"
odswriter = "*"
odfpy = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
