[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
internetarchive = "*"
tinydb = "*"
flask-login = "*"
flask-assets = "*"
gunicorn = "*"
markdown = "*"
feedgenerator = "*"

[dev-packages]

[requires]
python_version = "3.11"
