<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/dist/output.css" rel="stylesheet">
    <script src="/static/src/htmx.min.js"></script>

    {% block head_custom %}
    {% endblock head_custom %}

    <title>Libre Music Challenge</title>
</head>

<body class="">
    {% block content %}
    {% endblock content %}

    <footer class="p-10 bg-gray-100 text-center text-sm">
        <p>Source code of this website is available at <a class="link" href="https://github.com/nyxkn/libre-music-challenge">Github</a>.</p>
    </footer>

</body>



</html>
