{% extends "base.html" %}

{% block content %}

<div class="">
    <h1 class="text-4xl mb-16">Hall of Fame</h1>

    <ul>

        {% for event in events %}

        <li class="my-16">
            <h4 class="text-lg font-bold my-4">LMC #{{event.event}}</h4>
            <p>Winner: <span class="font-bold italic">{{event.winner}}</span></p>
            <p> <a class="link mr-2" href="{{event.link}}">Thread</a>
                <a class="link" href="{{event.archive}}">Archive</a>
            </p>

        </li>

        {% endfor %}

    </ul>

    {% endblock content %}