{% extends "base.html" %}

{% block content %}

<div class="mx-auto text-center my-16">
<h1 class="text-4xl mb-16">Libre Music Challenge</h1>
<ul class="text-2xl">
    <li class="m-4"><a href="/events" class="link link-hover">Events</a></li>
    <li class="m-4"><a href="/rules" class="link link-hover">Rules</a></li>
    <li class="m-4"><a href="/vote" class="link link-hover">Vote</a></li>
</ul>
</div>

<footer class="p-10 bg-gray-100 text-center text-sm">
    <p>Source code of this website is available at <a class="link" href="https://github.com/nyxkn/libre-music-challenge">Github</a>.</p>
</footer>

{% endblock content %}
